<img class="card-img-top" [src]="product.ProductImg">
<div class="card-body">
    <h5 class="card-title">{{product.ProductName}}</h5>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card-text mx-0 col-4 d-flex text-center align-items-center">{{product.ProductPrice}}</div>
        <div class="card-text mx-0 col-4 d-flex text-center align-items-center">{{product.AvailablePieces}}</div>
     
        <div class="row d-flex justify-content-end">
            <div class="col-6 justify-content-center d-flex">
                <i class="btn col-3 bi bi-plus-square-fill" id="add" (click)="add(product.ProductId)"
                    [hidden]="product.AvailablePieces == 0"></i>
            </div>
            <div class="col-6 justify-content-center d-flex align-items-center">
                <i class="bi bi-pencil-square" id="edit" (click)="edit()"></i>
            </div>

        </div>
    </div>

  </div>
