#add{
    font-size:2rem;
    color: #3AB5AE;
}
#edit{
    font-size:2rem;
    color: #d20000b6;
}
.lowQuantity{
    background-color: #1f7570;
}

.outOfStock{
    background-color: #023734;
    color: aliceblue;
}

#message{
    font-size: 32px;
    font-weight: 700;
    color: #023734;
}
#sideMessage{
    font-size: 24px;
    font-weight: 500;
    color: #023734;
}