<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'home'" id="title">Online Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav p-2">
          <li class="nav-item">
            <a class="  active tabs" aria-current="page" [routerLink]="'home'">Home</a>
          </li>
          <li class="nav-item">
            <a class=" tabs " [routerLink]="'products'">Products</a>
          </li>
          <li class="nav-item">
            <a class=" tabs" [routerLink]="'orders'">Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>